@{
    ViewBag.Title = "Home Page";
}

<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->


<!--
    
<!DOCTYPE html>
<!-- saved from url=(0050)file:///C:/Users/black/Desktop/template/apage.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Housing Now 4 Vets</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="./Housing Now 4 Vets_files/main.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <link rel="stylesheet" href="~/Content/Basket.css" />
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<div id="logo">
								<span class="pennant"><span class="icon fa-futbol-o"></span></span>
								<h1><a href="file:///C:/Users/black/Desktop/template/index.html">A Joint Collaboration</a></h1>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/index.html">Home</a></li>
									<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/services.html">Services</a></li>
									<li class="active" style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html"> News</a></li>
									<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
										<a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-caret-down">Drop Down Menu</a>
										
									<ul class="" style="user-select: none; display: none; position: absolute;">
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
												<a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Submenu</a>
												<ul style="user-select: none; display: none; position: absolute;" class="dropotron">
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
												</ul>
											</li>
										</ul></li>
									<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/contact.php">Contact Page</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main">
					<section class="container">
						<div class="row">
							<section class="8u 12u(mobile)">
								<h2>Housing Now 4 Vets </h2>
								<p>Our page is designed to be a guide to help you find a desirable housing options within Northern California  </p>
								
							</section>						
							<section class="4u 12u(mobile)">
								<div class="row" id="sidebar">
									<section class="12u">
										<h2>Latest Housing Leads</h2>
										<h4>House Hunting Tips</h4>
										<h5>March 1st, 2016</h5>
										<p>2014 sees the redesign of our website. <a href="file:///C:/Users/black/Desktop/template/apage.html#">Read more</a></p>
										
										<h3>Useful Links</h3>
										<ul>
											<li><a href="file:///C:/Users/black/Desktop/template/apage.html#">First Link</a></li>
											<li><a href="file:///C:/Users/black/Desktop/template/apage.html#">Another Link</a></li>
											<li><a href="file:///C:/Users/black/Desktop/template/apage.html#">And Another</a></li>
											<li><a href="file:///C:/Users/black/Desktop/template/apage.html#">Last One</a></li>
										</ul>
										
										
									</section>
								</div>
							</section>
						</div>	
					</section>
				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<section>
							<div class="row">
								<div class="3u 12u(mobile)">
									<header>
										<h2>Click here to Begin </h2>
									</header>
									<p>By pressing here this button will guide you through a number of local housing options tailored to your individual preferences</p>
									<a href="file:///C:/Users/black/Desktop/template/apage.html#" class="button">More</a>
								</div>
								<div class="3u 12u(mobile)">
									<header>
										<h2>Veteran Emergency Housing </h2>
									</header>
									<p>if you or someone you know is a Veteran who is homeless or at risk of homelessness please click here and or call the Homeless Veterans hotline at 1-877-4AID-VET (877) 424-3838</p>
									<a href="file:///C:/Users/black/Desktop/template/apage.html#" class="button">More</a>								
								</div>
								<div class="3u 12u(mobile)">
									<header>
										<h2> Community Resources for Anyone In Need </h2>
									</header>
									<p>if you or anyone needs immediate help such as food , clothing or even emergency shelter please call 2-1-1 you can connect yourself or any person , regardless of Veteran status , to immediate resources</p>
									<a href="file:///C:/Users/black/Desktop/template/apage.html#" class="button">More</a>								
								</div>
								
							</div>								
						</section>

						<!-- Social -->
							<section>
								<ul class="icons">
									<li><a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-twitter"><span>Twitter</span></a></li>
									<li><a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-facebook"><span>Facebook</span></a></li>
									<li><a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-google-plus"><span>Google+</span></a></li>
									<li><a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-linkedin"><span>Linkedin</span></a></li>
									<li><a href="file:///C:/Users/black/Desktop/template/apage.html#" class="icon fa-pinterest"><span>Pinterest</span></a></li>
								</ul>
							</section>

						<!-- Copyright -->
							<div class="copyright">
								© CSS3_Basket | <a href="http://www.css3templates.co.uk/">a css3templates.co.uk design</a>								
							</div>

					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="./Housing Now 4 Vets_files/jquery.min.js.download"></script>
			<script src="./Housing Now 4 Vets_files/jquery.dropotron.min.js.download"></script>
			<script src="./Housing Now 4 Vets_files/skel.min.js.download"></script>
			<script src="./Housing Now 4 Vets_files/util.js.download"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="./Housing Now 4 Vets_files/main.js.download"></script>

	
<ul class="dropotron level-0" style="user-select: none; display: none; position: absolute; z-index: 1000;">
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
											<li class="opener" style="user-select: none; cursor: pointer; white-space: nowrap;">
												<a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Submenu</a>
												<ul style="user-select: none; display: none; position: absolute; z-index: 1001;" class="dropotron level-1">
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
													<li style="white-space: nowrap;"><a href="file:///C:/Users/black/Desktop/template/apage.html#" style="display: block;">Example Menu</a></li>
												</ul>
											</li>
										</ul><div id="titleBar"><a href="file:///C:/Users/black/Desktop/template/apage.html#navPanel" class="toggle"></a></div><div id="navPanel"><nav><a class="link depth-0" href="file:///C:/Users/black/Desktop/template/index.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Home</a><a class="link depth-0" href="file:///C:/Users/black/Desktop/template/services.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Services</a><a class="link depth-0" href="file:///C:/Users/black/Desktop/template/apage.html" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>A Page</a><a class="link depth-0" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Drop Down Menu</a><a class="link depth-1" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-1"></span>Example Menu</a><a class="link depth-1" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-1"></span>Example Menu</a><a class="link depth-1" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-1"></span>Example Menu</a><a class="link depth-1" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-1"></span>Example Menu</a><a class="link depth-1" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-1"></span>Example Submenu</a><a class="link depth-2" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-2"></span>Example Menu</a><a class="link depth-2" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-2"></span>Example Menu</a><a class="link depth-2" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-2"></span>Example Menu</a><a class="link depth-2" href="file:///C:/Users/black/Desktop/template/apage.html#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-2"></span>Example Menu</a><a class="link depth-0" href="file:///C:/Users/black/Desktop/template/contact.php" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span>Contact Page</a></nav></div></body></html>






-->